body {
  background-color: aliceblue;
}

svg {
  width: 50px;
  height: 50px;
  filter: drop-shadow(3px 5px 2px rgb(255 255 255 / 0.5));
}

.blanc {
  position: relative;
  background-color: #fffff0;
  width: 50px;
  height: 50px;
  float: left;
}

.noir {
  position: relative;
  background-color: #846839;
  width: 50px;
  height: 50px;
  float: left;
}

#container {
  display: flex;
}

#home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#regle {
  flex: 1;
}
#home form {
  display: flex;
  flex-direction: column;
}

.formCase {
  display: flex;
}

#game {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto;
  border: 5px solid black;
}

.queen {
  position: absolute;
  top: 30%;
  right: 21%;
  width: 60%;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

#NoCredential{
  display: none;
  color: red;
}